{{ hostvars['pvttestserver01']['ip_address'] }}   {{ hostvars['pvttestserver01']['host_name'] }}     {{ hostvars['pvttestserver01']['host_name'] }}.local
{{ hostvars['pvttestserver02']['ip_address'] }}   {{ hostvars['pvttestserver02']['host_name'] }}     {{ hostvars['pvttestserver02']['host_name'] }}.local
{{ hostvars['pvttestserver03']['ip_address'] }}   {{ hostvars['pvttestserver03']['host_name'] }}     {{ hostvars['pvttestserver03']['host_name'] }}.local
